wxICON_AA ICON "icon.ico"
1 VERSIONINFO
FILEVERSION     1,2,0,0
PRODUCTVERSION  1,2,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "One"
      VALUE "FileDescription", "An open source beam profiler"
      VALUE "FileVersion", "2.0"
      VALUE "InternalName", "igyba_wx"
      VALUE "LegalCopyright", "Clemens Schaefermeier"
      VALUE "OriginalFilename", "igyba_wx.exe"
      VALUE "ProductName", "igyba"
      VALUE "ProductVersion", "2.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

/* This provides the look of the application */
#include "wx/msw/wx.rc"
